<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Red+Hat+Display:wght@300&display=swap');
  </style>
    <title>Welcome to our Private Equity Investing desk!</title>
</head>
<style>
  .bee{
    height:1400px;
    position: relative;
    left: 4%;

  }
  body{
    background-color: rgb(247, 247, 247);
    font-family: 'Red Hat Display', sans-serif;
    /* background-image: url("/Users/laurafelix/day11/projecty/CHICAGO SUMMER 2020 AERIAL VIEWS [4K].mp4");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover; */
  }
  .peep{
  position: relative;
  left: 42%;
}
video
{
  position: fixed;
  z-index: -1;
  min-width: 100; 
  min-height: 100%;
}

p:hover
{
  background-color:  rgb(119, 33, 225) !important;
  color: rgb(231, 210, 124) !important;

}

</style>
<body>
  <video autoplay loop muted width="100%">
    <source src="static/Aerial view of the Chicago skyline.mp4"/>
 </video>

  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(231, 210, 124) !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index" style="font-size: 30px;"><img width="90px" src="static/Grape Logo.png">   grape</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/auth" style="font-size: 30px;">    Private Equity Investing    </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="font-size: 30px;">      ETF Investing     </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/index" style="font-size: 30px;">    About us    </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  

  
 <br>
  <br>
  <br>
  <br>
  <br>
 <div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

  <form class="bee" method="post" action="/auth">
    <div class="form-group">
      
      <label for="name"><p style="text-align: center;font-size: 60px; color: rgb(119, 33, 225); background-color: rgba(231, 210, 124, 1);">Hello!</p><br><br>
        <br>
        <br> <p style="font-size: 60px; color: rgb(119, 33, 225);background-color: rgba(231, 210, 124, 1); "> I feel like we've met, but remind me of your name, please. ;)</p></label>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <input type="text" name="name" class="form-control" placeholder="Full name">
    </div>
    
    <div class="d-grid gap-2">
    <button type="submit" class="btn btn-secondary btn-lg"><p style="text-align: center;">Ready to proceed!</p></button>
  </div>
  </form>
</div>
<div class="col-2"></div>
</div>
</div>
<img class="peep" src="static/Grape Logo.png" width="200">
  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="/index">grape LLC</a>
    </div>
    <!-- Copyright -->
  </footer>
      <script src="path/to/jquery/jquery.min.js"></script>
      <script src="path/to/jquery.stellar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>