<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Welcome to our Private Equity Investing desk!</title>
</head>
<style>
  body {
    font-family: 'Red Hat Display', sans-serif;
}
</style>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index" style="font-size: 30px;"><img width="90px" src="static/Grape Logo.png">   grape</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/auth" style="font-size: 30px;">    Private Equity Investing    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 30px;">      ETF Investing     </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/index" style="font-size: 30px;">    About us    </a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="container">
        <div class="row"> 
          <div class="col-1">
            <div class="col-5"> 

              <p> Hi, {{props}}! </p>
              {%if props in all_names%}
              <p> Long time no see!</p>
              {%else%}
              <p> First time here? Don't worry; you're in good hands.</p>
              {%endif%}

            </div>
            <div class="col-1">

            </div>
          </div>

        </div>
        
        
      </div>
    
    
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-dark" href="./index.html">grape LLC</a>
        </div>
        <!-- Copyright -->
      </footer>
    <script src="path/to/jquery/jquery.min.js"></script>
      <script src="path/to/jquery.stellar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>