<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Welcome to our Private Equity Investing desk!</title>
</head>
<style>
  body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(247, 247, 247);
}
.pip
{
  position:relative;
  top: 20px;
  left:-20px;
  text-align:left;
  font-size: 50px;
  color: rgb(119, 33, 225);
}
.peep{
  position: relative;
  left: 8px;
}


</style>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index" style="font-size: 30px;"><img width="90px" src="static/Grape Logo.png">   grape</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/auth" style="font-size: 30px;">    Private Equity Investing    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 30px;">      ETF Investing     </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/index" style="font-size: 30px;">    About us    </a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="container">
        <div class="row"> 
          <div class="col-1"></div>
          <div class="col-5 pip"> 

            <p> Hi, {{props}}! </p>
            {%if bool_check%}
            <p> Long time no see!</p>
            {%else%}
            <p> First time here? Don't worry; you're in good hands.</p>
            {%endif%}

          </div>
          <!-- # Options Collapse Buttons -->
                  <p>
                    <!-- <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Technology Giants
                    </a> -->
                    <div class="accordion-group">
                    <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                      Technology Giants
                    </button>
                    <br> 
                    <br>
                    <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                      Consumer Discretionary Leaders
                    </button>
          
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <!-- # Body inside the Collapse Feature -->
                      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                      <div class = "row">
                        <h1> Option 1 :: Technology Giants </h1>
                        <div class = "col-2">
                        <li> Apple Inc. (AAPL) </li>
                        <li> Microsoft Corporation (MSFT) </li>
                        <li> Alphabet Inc. (GOOG) </li>
                        <li> Facebook, Inc. (META) </li>
                      </div>
                      <div class = "col-8">
                        <style>
                          .sampleChart {
                             max-width: 300px;
                             height: 150px; }
                          * {   text-align: center;}
                       </style>
                       <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
                       </script>
                    <canvas id = "pieChart1"> </canvas>
                       <script>
                          let canvas1 = document.getElementById("pieChart1");
                          new Chart(canvas1, {
                             type: "pie",
                             data: {
                                labels: ["Apple", "Microsoft", "Amazon", "Alphabet", "Meta"],
                                datasets: [{
                                   backgroundColor: ["blue", "red", "green", "purple", "yellow"],
                                   borderWidth: 10,
                                   data: [0.50701, 0.49299, 0.0, 0.0, 0.0]
                                }]
                             },
                          });
                       </script>
                       </div>
              
          
                      </div>
                    </div>
                    <div class="input-group mb-3">
                  
                     <button type="button" class="btn btn-info">Buy</button>
                     <span class="input-group-text">$</span>
                     <input> </input>
                     </div>
                  </div>
                
          <!-- Second Button Content -->
          
                  <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                      <!-- # Body inside the Collapse Feature -->
                      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                      <div class = "row">
                        <h1> Option 2 :: Consumer Discretionary Leaders </h1>
                        <div class = "col-2">
                        <li> The Walt Disney Company </li>
                        <li> Nike, Inc. (NKE) </li>
                        <li> Starbucks Corporation (SBUX) </li>
                        <li> McDonald’s Corporation (MCD) </li>
                        <li> The Coca-Cola Company (KO) </li>
                        </div>
                        <div class = "col-8">
                        <style>
                          .sampleChart {
                             max-width: 300px;
                             height: 150px; }
                          * {   text-align: center;}
                       </style>
                       <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
                       </script>
                    <canvas id = "pieChart2"> </canvas>
                       <script>
                          let canvas = document.getElementById("pieChart2");
                          new Chart(canvas, {
                             type: "pie",
                             data: {
                                labels: ["Apple", "Microsoft", "Amazon", "Alphabet", "Meta"],
                                datasets: [{
                                   backgroundColor: ["blue", "red", "green", "purple", "yellow"],
                                   borderWidth: 10,
                                   data: [0.50701, 0.49299, 0.0, 0.0, 0.0]
                                }]
                             },
                          });
                       </script>
                       </div>
          
                      </div>
                    </div>
                    <div class="input-group mb-3">
                  
                     <button type="button" class="btn btn-info">Buy</button>
                     <span class="input-group-text">$</span>
                     <input> </input>
                     </div>
                  </div>
        
      </div>
    </div>
    
      <img class="peep" src="static/Grape Logo.png" width="200">
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-dark" href="/index">grape LLC</a>
        </div>
        <!-- Copyright -->
      </footer>
    <script src="path/to/jquery/jquery.min.js"></script>
      <script src="path/to/jquery.stellar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>