<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Red+Hat+Display:wght@300&display=swap');
  </style>
    <title>Welcome to our Private Equity Investing desk!</title>
</head>
<style>
  body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(247, 247, 247);
}

.gold-outline {
    font-size: 50px;
    color: rgb(231, 210, 124);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(231, 210, 124);
  }

.pip
{
  position:relative;
  top: 20px;
  left:20%;
  text-align:left;
  font-size: 50px !important;
  color:  #000000;
}
.pip:hover{
  color: rgb(162, 115, 219) !important;
  background-color: rgb(231, 210, 124) !important;
}

.bah:hover{
  color: rgb(162, 115, 219) !important;
  background-color: rgb(231, 210, 124) !important;
}
.peep{
  position: relative;
  left: 8px;
}
</style>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background-color: rgb(231, 210, 124) !important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index" style="font-size: 30px;"><img width="90px" src="static/Grape Logo.png">   grape</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/auth" style="font-size: 30px;">    Private Equity Investing    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 30px;">      ETF Investing     </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/index#about_us_id" style="font-size: 30px;">    About us    </a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    
      <div class="container">
        <div class="row"> 
          <div class="col-1"></div>
          <div class="col-5 pip"> 

            <p> Hi, {{props}}! </p>
            {%if bool_check%}
            <p> Long time no see!</p>
            {%else%}
            <p> First time here? Don't worry; you're in good hands.</p>
            {%endif%}

          </div>
          </div>
          </div>

          {%if not bool_check%}

          <div class="container">
            <div class="row">
              <div class="col-9">
                <br>
                <p class="bah" style="font-size: 28px; position:relative; left:-290px;"> Starter Guide to Our Platform</p>

                <p style="font-size: 24px; position:relative; left:-200px;"> <ol class="list-group list-group-numbered">
                  <li class="list-group-item bah">First things first, try checking one of our carefully selected bundles of stocks. 
                    The idea behind our bunches, or bundles, of stocks, is that they are simply pre-chosen combination of stocks with
                    optimized weights or percentages of each stock in the entire bunch. 
                    Click here:
                    <br>
                      <img src="/static/step1.png" width="600" height="auto">
                  </li>
                  <li class="list-group-item bah">
                    Wow! Doesn't that look better? Now, take a look at the specific combination and how much of each 
                    stock you would be buying. Our software runs on a very sophisticated method of optimization for any groups
                    of stocks, and we offer the possibility with the lowest amounts of risk possible for the highest amount of 
                    profit that's feasible to obtain. 

                    With the purple arrow, we can see the names of the companies with their respective tickers. With 
                    the yellow arrow, a pie chart with respective weights for each stock.
                    <br>
                    <img src="/static/step2.png" width="600" height="auto">
                  </li>
                  <li class="list-group-item bah">
                    Hey, now it's time to pick whichever won you over! Having analyzed the bundles, when you're ready to 
                    claim a bundle, just head over to the button right under the data for that specific bundle option and 
                    write how much you're willing to invest in that specific bundle. You're all set!
                    <br>
                    <img src="/static/step3.png" width="600" height="auto">
                  </li>
                </ol></p>

              </div>
            </div>
          </div>

          {%endif%}
          <!-- # Options Collapse Buttons -->
                  <p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <!-- <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      Technology Giants
                    </a> -->
                    <div class="container">
                      <div class="row">
                        <div class="col-4">
                          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Technology Giants
                          </button>
                        </div>
                        <div class="col-4">
                          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                            Healthcare Innovators
                          </button>
                        </div>
                        <div class="col-4">
                          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                            Consumer Discretionary Leaders
                          </button>
                        </div>

                      </div>

                    </div>
                    
                  
                   
          
                  </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      <!-- # Body inside the Collapse Feature -->
                      <div class="row">
                        <h1> Option 1 :: Technology Giants </h1>
                        <div class = "col-2">
                        <li> Apple Inc. (AAPL) </li>
                        <li> Microsoft Corporation (MSFT) </li>
                        <li> Alphabet Inc. (GOOG) </li>
                        <li> Facebook, Inc. (META) </li>
                      </div>
                      <div class = "col-8">
                        <style>
                          .sampleChart {
                             max-width: 300px;
                             height: 150px; }
                          * {   text-align: center;}
                       </style>
                       <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
                       </script>
                    <canvas id = "pieChart1"> </canvas>
                       <script>
                          let canvas1 = document.getElementById("pieChart1");
                          new Chart(canvas1, {
                             type: "pie",
                             data: {
                              
                                labels: ["Apple", "Microsoft", "Amazon", "Alphabet", "Meta"],
                                datasets: [{
                                   backgroundColor: ['rgb(' + 137 + ',' + 207 + ',' + 240 + ')', 'rgb(' + 244 + ',' + 194 + ',' + 194 + ')', 'rgb(' + 169 + ',' + 211 + ',' + 158 + ')', 'rgb(' + 200 + ',' + 158 + ',' + 211 + ')', 'rgb(' + 255 + ',' + 244 + ',' + 79 + ')'],
                                   borderWidth: 10,
                                   data: [0.50701, 0.49299, 0.0, 0.0, 0.0]
                                }]
                             },
                          });
                       </script>
                       </div>
              
          
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-5"> 
                          <form method="post" action="/bundle_offer">
                          <input class="text" name="button-choice" class="form-control" value="1" hidden>
                          <div class="input-group mb-3">
                      
                            <button type="submit" class="btn btn-info">Buy</button>
                            <span class="input-group-text">$</span>
                            <input type="text" name="money-invested" class="form-control"> 
                            <span class="input-group-text">.00</span>
                            </div>
                          </form>
                         </div>
                  

                        </div>
                      </div>

                    </div>
                  </div>
               
          <!-- Second Button Content -->
                  <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                      <!-- # Body inside the Collapse Feature -->
                      
                      <div class = "row">
                        <h1> Option 3 :: Consumer Discretionary Leaders </h1>
                        <div class = "col-2">
                        <li> The Walt Disney Company (DIS) </li>
                        <li> Nike, Inc. (NKE) </li>
                        <li> Starbucks Corporation (SBUX) </li>
                        <li> McDonald’s Corporation (MCD) </li>
                        <li> The Coca-Cola Company (KO) </li>
                        </div>
                        <div class = "col-8">
                        <style>
                          .sampleChart {
                             max-width: 300px;
                             height: 150px; }
                          * {   text-align: center;}
                       </style>
                       <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
                       </script>
                    <canvas id = "pieChart2"> </canvas>
                       <script>
                          let canvas = document.getElementById("pieChart2");
                          new Chart(canvas, {
                             type: "pie",
                             data: {
                              // {'DIS': 0.0, 'NKE': 0.4137, 'SBUX': 0.24492, 'MCD': 0.25383, 'KO': 0.08755}
                                labels: ["Disney", "Nike", "Starbucks", "McDonald's", "Coca-Cola"],
                                datasets: [{
                                  backgroundColor: ['rgb(' + 137 + ',' + 207 + ',' + 240 + ')', 'rgb(' + 244 + ',' + 194 + ',' + 194 + ')', 'rgb(' + 169 + ',' + 211 + ',' + 158 + ')', 'rgb(' + 200 + ',' + 158 + ',' + 211 + ')', 'rgb(' + 255 + ',' + 244 + ',' + 79 + ')'],
                                   borderWidth: 10,
                                   data: [0.0, 0.4137,  0.24492, 0.25383, 0.08755]
                                }]
                             },
                          });
                       </script>
                       </div>
          
                      </div>
                    </div>
                    <div class="container">
                      <div class="row">
                        <div class="col-5"> 
                        <form method="post" action="/bundle_offer">
                        <input class="text" name="button-choice" class="form-control" value="2" hidden>
                          <div class="input-group mb-3">
                  
                            <button type="submit" class="btn btn-info">Buy</button>
                            <span class="input-group-text">$</span>
                           
                            <input type="text" name="money-invested" class="form-control"> 
                            <span class="input-group-text">.00</span>
                            </div>
                          </form>
                         </div>

                        </div>
                      </div>

                    </div>
                    
        
      </div>
      </div>
      <div class="collapse" id="collapseExample3">
        <div class="card card-body">
          <!-- # Body inside the Collapse Feature -->
          
          <div class = "row">
            <h1> Option 2 :: Healthcare Innovators </h1>
            <div class = "col-2">
            <li> Johnson & Johnson (JNJ) </li>
            <li> Pfizer (PFE) </li>
            <li> Moderna (MRNA) </li>
            <li> AbbVie Inc. (ABBV) </li>
            <li> Novartis AG (NVS) </li>
          </div>
          <div class = "col-8">
            <style>
              .sampleChart {
                 max-width: 300px;
                 height: 150px; }
              * {   text-align: center;}
           </style>
           <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
           </script>
        <canvas id = "pieChart3"> </canvas>
           <script>
              let canvas3 = document.getElementById("pieChart3");
              new Chart(canvas3, {
                 type: "pie",
                 data: {
                  // {'JNJ': 0.0, 'PFE': 0.27662, 'MRNA': 0.4558, 'ABBV': 0.26758, 'NVS': 0.0}
                    labels: ["JNJ", "PFE", "MRNA", "ABBV", "NVS"],
                    datasets: [{
                      backgroundColor: ['rgb(' + 137 + ',' + 207 + ',' + 240 + ')', 'rgb(' + 244 + ',' + 194 + ',' + 194 + ')', 'rgb(' + 169 + ',' + 211 + ',' + 158 + ')', 'rgb(' + 200 + ',' + 158 + ',' + 211 + ')', 'rgb(' + 255 + ',' + 244 + ',' + 79 + ')'],
                       borderWidth: 10,
                       data: [0.0,0.27662, 0.4558,  0.26758, 0.0]
                    }]
                 },
              });
           </script>
           </div>
  

          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-5"> 
              <form method="post" action="/bundle_offer">
              <input class="text" name="button-choice" class="form-control" value="3" hidden>
              <div class="input-group mb-3">
          
                <button type="submit" class="btn btn-info">Buy</button>
                <span class="input-group-text">$</span>
                <input type="text" name="money-invested" class="form-control"> 
                <span class="input-group-text">.00</span>
                </div>
              </form>
             </div>
      

            </div>
          </div>
        
        </div>
      </div>
      <img class="peep" src="static/Grape Logo.png" width="200">
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-dark" href="/index">grape LLC</a>
        </div>
        <!-- Copyright -->
      </footer>
    <script src="path/to/jquery/jquery.min.js"></script>
      <script src="path/to/jquery.stellar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>