<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Homepage</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Red+Hat+Display:wght@300&display=swap');
    </style>
</head>

<style>
body {
    font-family: 'Red Hat Display', sans-serif;
}
.content {
    background-attachment: fixed;
    height: 500px;
}
#content1 {
    color: rgb(0, 0, 0);
}

p {
    padding: 0.5rem;
    
}

p:hover { 
  background-color: rgb(119, 33, 225) !important;
  color: rgb(231, 210, 124) !important;
}


.bah
{
  margin-left: 0px;
  text-align: center;
}

#content6 {
    background-image: url("https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/Stock-Couple-Talking-About-Underwriting-With-A-Lawyer-AdobeStock-294609252-Copy.jpg");
    height:200px  !important;
    position:relative;
    top: 45px;
}

#content4
{
  height: 700px !important;
}

#content5 {
  height:200px  !important;
    background-image: url("https://media.istockphoto.com/id/1413558358/video/business-finance-and-economy-professionals-looking-at-the-financial-income-and-expense-of-the.jpg?s=640x640&k=20&c=cwWfYADddFG6RmHYQps3NJ8RieKePr4y-oifgPCZMK4=");
}
.overlay{
    position:absolute;
    top: 78px;
    left: 12px;
    z-index:1;
}
.container { 
    position:relative;
    left: -88px;


}
.smally{
  height:155px;
  position: relative;
  top: 45px;
  left:-10px;
}
.peep{
  position: relative;
  left: 600px;
}

</style>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background-color: rgb(231, 210, 124) !important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index" style="font-size: 30px;"><img width="90px" src="static/Grape Logo.png">   grape</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/auth" style="font-size: 30px;">    Private Equity Investing    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 30px;">      ETF Investing     </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/index#about_us_id" style="font-size: 30px;">    About us    </a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>
    <div class="container" data-stellar-background-ratio="0.5">
        <video autoplay loop muted width="1482">
            <source src="static/IMG_8315_AdobeExpress.mp4" type="video/mp4"/>
         </video>
        <div class="content overlay" id="content1">
            <h1 style="font-size: 120px; background-color: rgb(119, 33, 225);"> Together, We </h1>
            <h1 style="font-size: 120px;background-color: rgb(119, 33, 225);"> Turn Ambition </h1>  
            <h1 style="font-size: 120px;background-color: rgb(119, 33, 225);"> Into Action </h1> 
        </div>
    </div>
    <div class="content" id="content2" data-stellar-background-ratio="0.5">
    <p id="about_us_id" style="font-size: 60px; color: rgb(119, 33, 225);">About us</p>
        <p style="font-size: 23px;"> Grape, a pioneering company in the private equity investment sector, has consistently excelled in providing outstanding value to its clients. With a vast and growing client base, the company has amassed a staggering <strong>$20 billion</strong> in gains for its customers, solidifying its position as a leading player in the finance industry.
          The impressive success of Grape is further reflected in its broad user engagement, with an astounding one million daily users logging into the platform. This high level of engagement is a testament to the company's user-friendly interface, robust features, and the trust it has garnered from its ever-growing customer base.</p>
            <p style="font-size: 23px;">The exceptional achievements of Grape have not gone unnoticed, as the company has been honored with several prestigious awards. These accolades, including the <strong>"Innovator of the Year Award"</strong> and the <strong>"Excellence in Investment Solutions Award,"</strong> showcase the company's commitment to innovation, customer satisfaction, and delivering unparalleled investment opportunities.
            With revenue figures soaring to unprecedented heights and an extensive user base actively engaging with the platform, Grape continues to solidify its position as a market leader. Its commitment to providing exceptional value, user-centric design, and a track record of delivering substantial gains for clients set Grape apart in the finance industry.</p>
    </div>
    <div class="content" id="content6" data-stellar-background-ratio="0.5">

    </div>
    <div class="content" id="content3" data-stellar-background-ratio="0.5">
      <div class="container-fluid smally">
        <div class="row"> 
          <div class="col-4">
            <p style="font-size: 60px; color: rgb(119, 33, 225);"><strong>Who we are</strong/p>
          </div>
        </div>
      </div>

      
        
        <div class="container-fluid">
            <div class="row">
              
              
                <div class="col-4 bah">
                  <a href="/laura"> <h1 style="color: black; background-color: rgba(255, 255, 255, 0.7);text-align: center;"> Laura Saraiva Félix</h1></a>
                  <a href="/laura"> <img src="https://www.understandinganimalresearch.org.uk/application/files/thumbnails/page_2x/4915/5800/5951/cat-looking-up-at-animal-technician_cropped.jpg" width="300" height="200"></a>
                    <p style="color: black; background-color: rgba(255, 255, 255, 0.7);text-align: center; font-size: 25px;"> <strong>Laura is a co-founder of "Grape". Northwestern University graduate.</strong></p>
                </div>

                

                <div class="col-4 bah">
                    <a href="/anahi"> <h1 style="color: black; background-color: rgba(255, 255, 255, 0.7); text-align: center;"> Anahi Perez </h1></a>
                    <a href="/anahi"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpN_4eSqOjkRUhRuNxb5MPvXoFbynICo1i7A&usqp=CAU" width="300" height="200"></a>
                    <p style="color: black; background-color: rgba(255, 255, 255, 0.7);text-align: center; font-size: 25px;"> <strong>Anahi is a co-founder of "Grape". Emory University graduate.</strong></p>
                    
                </div>
                

                <div class="col-4 bah">
                    <a href="/jason"> <h1 style="color: black; background-color: rgba(255, 255, 255, 0.7); text-align: center;"> Jason Uranta </h1></a>
                    <a href="/jason"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuHUlP6F15TiQpEK3oo9uzyvk0gFBypWJqAA&usqp=CAU" width="300" height="200" ></a>
                    <p style="color: black; background-color: rgba(255, 255, 255, 0.7);text-align: center; font-size: 25px;"> <strong> Jason Uranta is a co-founder of "Grape". Brown University graduate.</strong>

                    </p>
                    
            </div>
            
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="content"  id="content5" data-stellar-background-ratio="0.5">
      
    </div>
    <div class="content" id="content4" data-stellar-background-ratio="0.5">
        <p style="font-size: 60px; color: rgb(119, 33, 225);">How our cofounders met</p>
        <p style="font-size: 19px;"> Laura, Anahi, and Jason's paths converged at the highly anticipated 2023 Citadel Externship, a prestigious event that attracted the brightest minds in finance and technology. Each with their unique aspirations, they arrived with a shared eagerness to learn, network, and make an impact.
          Laura, driven by her passion for software engineering and cloud computing, attended various workshops and seminars on cutting-edge technologies. During one session on fintech innovations, she met Anahi, who stood out with her expertise in biomedical engineering and a burgeoning interest in software engineering. Their shared enthusiasm sparked an instant connection, and they quickly realized the potential of combining their skill sets to disrupt the finance industry.
          Meanwhile, Jason, a seasoned entrepreneur with a knack for identifying emerging trends, caught wind of their conversations. Intrigued by their vision, he approached Laura and Anahi, offering his expertise in business strategy and finance to help bring their ideas to fruition. Recognizing the value of his experience, they welcomed him with open arms.
          <br>
          <br>
          As the externship progressed, the trio worked tirelessly on a project that would revolutionize the way individuals invest in private equity. Together, they refined their concept of providing bundles of stocks acting as ETFs, enabling clients to access private equity investments with ease. Their innovative approach garnered attention from industry experts and fellow externs, solidifying their belief that they were onto something extraordinary.
          Fueled by the energy and enthusiasm generated throughout the externship, Laura, Anahi, and Jason decided to turn their project into a real business. They pooled their resources, knowledge, and network to establish "Grape," a company dedicated to democratizing access to private equity investments through their unique stock bundle offerings.
          <br>
          <br>
          With Laura's technical expertise, Anahi's industry insights, and Jason's strategic guidance, "Grape" quickly gained traction in the finance market. Their tailored investment solutions, powered by advanced algorithms and systems, resonated with clients seeking innovative approaches to wealth creation. The team's unwavering commitment to excellence and their shared vision propelled them forward, as they navigated challenges, secured funding, and attracted top talent to join their growing venture.
          The success of "Grape" served as a testament to the serendipitous meeting of Laura, Anahi, and Jason at the Citadel Externship. What began as an idea blossomed into a thriving business, disrupting traditional investment models and empowering individuals to build wealth through private equity. Their journey, forged in the fires of passion, collaboration, and determination, serves as a reminder that great things can happen when like-minded individuals come together to pursue a shared vision.</p>
          
    </div>
    
    <img class="peep" src="static/Grape Logo.png" width="200">
    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-dark" href="/index">grape LLC</a>
      </div>
      <!-- Copyright -->
    </footer>

<script src="path/to/jquery/jquery.min.js"></script>
<script src="path/to/jquery.stellar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>

