<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Red+Hat+Display:wght@300&display=swap');
  </style>
    <title>Welcome to our Private Equity Investing desk!</title>
</head>
<style>
  body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgb(247, 247, 247);
}
.pip
{
  position:relative;
  top: 20px;
  left:20%;
  text-align:left;
  font-size: 100px !important;
  color:  #000000;
}
.pip:hover{
  color: rgb(162, 115, 219) !important;
  background-color: rgb(231, 210, 124) !important;
}
.peep{
  position: relative;
  left:42%;
}
</style>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background-color: rgb(231, 210, 124) !important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index" style="font-size: 30px;"><img width="90px" src="static/Grape Logo.png">   grape</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/auth" style="font-size: 30px;">    Private Equity Investing    </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 30px;">      ETF Investing     </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 30px;">  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/index#about_us_id" style="font-size: 30px;">    About us    </a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
      <div class="row"> <br> <br> <br><div class="col-3">
    </div></div>
      <div class="row">
      <div class="col-3">
      </div>
      <div class="col-6">
        {%if bool_check==True%}
          {%if bundle_number|int == 1%}
      <h1> Your bundle choice was Option {{bundle_number}} :: Technology Giants, {{props}}! Congrats. Your expected net-worth in a year is ${{expected_return}}, with an annual expected return rate of {{percentage_return}}% based on your previous investments made here at Grape. </h1>
      <br>
      <br>
        <h1>Thank you for your trust in us.</h1>
          {%elif bundle_number|int== 2%}
          <h1> Your bundle choice was Option 3 :: Consumer Discretionary Leaders, {{props}}! Congrats. Your expected net-worth in a year is ${{expected_return}}, with an annual expected return rate of {{percentage_return}}% based on your previous investments made here at Grape. </h1>
          <br>
          <br>
          <h1>Thank you for your trust in us.</h1>
          {%elif bundle_number|int == 3%}
          <h1> Your bundle choice was Option 4 :: Your Pick, {{props}}! Congrats. Your expected net-worth in a year is ${{expected_return}}, with an annual expected return rate of {{percentage_return}}% based on your previous investments made here at Grape. </h1>
          <br>
          <br>
          <h1> Thank you for your trust in us.</h1>
          {%else%}
          <h1> Your bundle choice was Option 4 :: Your Pick, {{props}}! Congrats. Your expected net-worth in a year is ${{expected_return}}, with an annual expected return rate of {{percentage_return}}% based on your previous investments made here at Grape. </h1>
          <br>
          <br>
          <h1> Thank you for your trust in us.</h1>
          {%endif%}
      {%else%}
      {%if bundle_number|int == 1%}
      <h1> Your bundle choice was Option {{bundle_number}} :: Technology Giants, {{props}}! Congrats. Your expected net-worth in a year is ${{expected_return}}, with an annual expected return rate of {{percentage_return}}% based on your initial investments made here at Grape. </h1>
      <br>
      <br>
      <h1>Thank you for your trust in us, and we hope you
        come back for more soon.</h1>
          {%elif bundle_number|int==2%}
          <h1> Your bundle choice was Option 3 :: Consumer Discretionary Leaders, {{props}}! Congrats. Your expected net-worth in a year is ${{expected_return}}, with an annual expected return rate of {{percentage_return}}% based on your initial investments made here at Grape. </h1>
          <br>
          <br>
          <h1>Thank you for your trust in us, and we hope you
            come back for more soon.</h1>
          {%elif bundle_number|int==3%}
          <h1> Your bundle choice was Option 2 :: Healthcare Innovators, {{props}}! Congrats. Your expected net-worth in a year is ${{expected_return}}, with an annual expected return rate of {{percentage_return}}% based on your initial investments made here at Grape. </h1>
          <br>
          <br>
          <h1>Thank you for your trust in us, and we hope you
            come back for more soon.</h1>
          {%else%}
          <h1> Your bundle choice was Option 4 :: Your Pick!, {{props}}! Congrats. Your expected net-worth in a year is ${{expected_return}}, with an annual expected return rate of {{percentage_return}}% based on your initial investments made here at Grape. </h1>
          <br>
          <br>
          <h1>Thank you for your trust in us, and we hope you
            come back for more soon.</h1>

          {%endif%}
      {%endif%}
      </div>
      </div>
      </div>

      <img class="peep" src="static/Grape Logo.png" width="200">
      <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2023 Copyright:
          <a class="text-dark" href="/index">grape LLC</a>
        </div>
        <!-- Copyright -->
      </footer>
    <script src="path/to/jquery/jquery.min.js"></script>
      <script src="path/to/jquery.stellar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>